{% extends 'base.html' %}
{% block content %}
  <h1>Sensores</h1>

  <table>
  <thead>
    <tr>
      <th>Sensor</th>
      <th>Fila</th>
      <th>Último Valor</th>
      <th>IP</th>
      <th>Última Leitura</th>
    </tr>
  </thead>
  <tbody>
    {% for id, dados in sensores.items() %}
    <tr>
      <td>{{ id }}</td>
      <td>{{ dados.fila }}</td>
      <td>{{ dados.todos_valores[-1] }}</td>
      <td>{{ dados.ip_sensor }}</td>
      <td>{{ dados.ultima_leitura }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
